@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  margin: 0;
  padding: 0;
  background: #f5f6fa;
 font-family: 'Kumbh Sans', sans-serif;;
}
